body {
    margin: 0;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.navbar {
    height: 40px;
    width: 100%;
    background-color: #252525;
}

.middle {
    margin: 0;
    height: 220px;
    background-color: #3b2448;
    width: 100%;
    color: #ffffff;
}

.middle h1 {
    font-size: 96px;
    text-align: center;
    margin: 0px;
}

.middle p {
    font-size: 36px;
    text-align: center;
    margin-top: 10px;
}

.search-form {
    padding: 5px 30%;
    width: 40%;
}

.search-form .autocomplete-input {
    font-size: 14px;
    padding-left: 3px;
    height: 30px;
    width: 100%;
}

.search-form input {
    border: 0 none;
    border-radius: 3px;
    box-shadow: 0 1px 2px rgba(120, 120, 120, 0.75) inset;
    height: 30px;
    width: 100%;
}

.search-form .autocomplete-result {
    width: 100%;
}

.search-form .autocomplete-result ol {
    list-style: none outside none;
    margin-left: 0;
    margin-top: 2px;
    padding: 0;
    width: 100%;
}

.search-form .autocomplete-result li {
    border-bottom: 1px solid lightgray;
    border-left: 1px solid lightgray;
    border-right: 1px solid lightgray;
    cursor: pointer;
    display: block;
    margin: 0;
    padding: 2%;
    width: 96%;
    text-transform: capitalize;
}

.search-form .autocomplete-result li:hover {
    background-color: #3B2448;
    color: #ffffff;
}

@media all and (max-width: 959px) and (min-width: 720px) {
    .middle h1 {
        font-size: 72px;
    }

    .middle p {
        font-size: 32px;
        text-align: center;
        margin-top: 10px;
    }

    .search-form {
        padding: 5px 25%;
        width: 50%;
    }
}

@media all and (max-width: 719px) and (min-width: 600px) {
    .middle h1 {
        font-size: 60px;
    }

    .middle p {
        font-size: 28px;
        text-align: center;
        margin-top: 10px;
    }

    .search-form {
        padding: 5px 25%;
        width: 50%;
    }
}

@media all and (max-width: 599px) and (min-width: 480px) {
    .middle h1 {
        font-size: 60px;
    }

    .middle p {
        font-size: 24px;
        text-align: center;
        margin-top: 10px;
    }

    .search-form {
        padding: 5px 20%;
        width: 60%;
    }
}

@media all and (max-width: 479px) and (min-width: 320px) {
    .middle h1 {
        font-size: 48px;
    }

    .middle p {
        font-size: 18px;
        text-align: center;
        margin-top: 10px;
    }

    .search-form {
        padding: 5px 20%;
        width: 60%;
    }
}